@page "/fetchdata"

@using SkiaSharp
@using SkiaSharp.Views.Blazor

@inject HttpClient Http

<h1>SkiaSharp Canvas</h1>

<SKCanvasView OnPaintSurface="@OnPaintSurface" ActualWidth="640" ActualHeight="480" />

@code {
    void OnPaintSurface(SKPaintSurfaceEventArgs e)
    {
        var canvas = e.Surface.Canvas;

        var colors = new[] { SKColors.Cyan, SKColors.Magenta, SKColors.Yellow, SKColors.Cyan };
        var center = new SKPoint(e.Info.Width / 2, e.Info.Height / 2);

        canvas.Clear(SKColors.Transparent);

        using (var paint = new SKPaint())
        using (var gradient = SKShader.CreateSweepGradient(center, colors))
        {
            paint.IsAntialias = true;
            paint.Shader = gradient;

            canvas.DrawRoundRect(new SKRect(5, 5, e.Info.Width - 5, e.Info.Height - 5), 25, 25, paint);
        }

        using (var paint = new SKPaint())
        {
            paint.IsAntialias = true;
            paint.Color = SKColors.DarkBlue;
            paint.TextSize = 48;
            paint.TextAlign = SKTextAlign.Center;

            canvas.DrawText("SkiaSharp", center.X, (center.Y / 2) + (paint.TextSize / 2), paint);
        }
    }
}
